.u-section-1 .u-sheet-1 {
  min-height: 930px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 18px;
  margin-bottom: 54px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 798px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/unnamed1.webp");
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/unnamed.webp");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 658px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}